@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.carousel {
    width: 100%;
    height: 100vh; 
    /* background-image: url('https://res.cloudinary.com/de91sxsp3/image/upload/v1768315551/logo1_zcq9kc.jpg');  */
    background-color: orange;
    background-size: cover;   
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px
}

.carousel-container {
    width: 90%;
    margin: 2rem auto;
}

.carousel-image {
    width: 40%;
    max-height: 500px;         
    object-fit: cover;         
    border-radius: 8px;
    display: block;
    margin: 0 auto;
}

