.dropdown-menu {
    position: absolute;
    top: 60px; 
    left: 0;
    width: 220px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    z-index: 100;
    animation: dropdownFade 0.3s ease forwards;
}


.dropdown-menu a {
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: bold;              
    font-family: "Poppins", sans-serif; 
    transition: all 0.3s ease;
}


.dropdown-menu a:hover {
    background-color: #FF8C00; 
    color: #fff;
    transform: translateX(5px); 
}


@keyframes dropdownFade {
    from {
    opacity: 0;
    transform: translateY(-10px);
    }
    to {
    opacity: 1;
    transform: translateY(0);
    }
}
